<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Test Suite">
    <test name="Executor Tests">
        <packages>
            <package name="demo.executor"/>
        </packages>
    </test>
    <test name="Logger Tests">
        <packages>
            <package name="demo.logger"/>
        </packages>
    </test>
</suite>
